<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div id="form-check">
        <div class="form-group">
          <label for="input-todo">schreiben Sie was Sie planen</label>
          <input type="text" class="form-control" name="input-todo" id="input-todo" placeholder="hier schreiben...">
          <button class="btn btn-primary float-right">Save</button>
          <button class="btn btn-primary float-right">Save</button>
          <button class="btn btn-primary float-right">Save</button>
          <button class="btn btn-primary float-right">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
